
DATABASE_URL=postgresql://postgres:admin@localhost:5432/superteam_academy
PAYLOAD_SECRET=


BETTER_AUTH_SECRET="="
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_BETTER_AUTH_URL="http://localhost:3000"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com

NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=G-76F80SDT1C

SENTRY_AUTH_TOKEN=